#login {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: auto;
    flex-direction: column; 
    background-color: #f7fcff;
    color: #333; 
    margin: 2em auto;
    width: 20em;
    padding: 2em; 
    border-radius: 8px; 
    box-shadow: var(--card-shadow)
}

#login h3 {
    font-size: 1.4em;
    color: var(--background-color); 
    text-align: center;
    margin: 0em;

}


#login input {
    border: none;
    background-color: white;
    color: black;
    border-bottom: 2px solid #333; /* Slightly thicker border for better focus */
    margin-top: 1em;
    margin-bottom: 1em;
    width: 80%; /* Adjust width to make inputs more consistent */
    font-size: 1em; /* Slightly larger font size for better readability */
    text-align: center;
    padding: 1em;
    border-radius: 4px; /* Rounded edges for input fields */
    transition: all 0.3s ease; /* Smooth transition for hover/focus effects */
}

input:focus {
    border-bottom: 2px solid var(--background-color); /* Blue color on focus */
    outline: none; /* Removes the default outline */
    background-color: var(--color); /* Light background when focused */
}

input:hover {
    border-bottom: 2px solid #555; 
}


#login button, #login a {
    background-color: #596775; 
    color: white;
    border: none;
    padding: 0.6em;
    margin: 1em;
    width: 100%;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}


#login button:hover, #login a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.error-message {
    
    color: red;
    background-color: #ffeeee;
    padding: 10px;
    border: 1px solid red;
    margin: 15px auto;
    
    border-radius: 5px;
    font-family: Arial, sans-serif;


}